main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('logo_transparent.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input {
    width: 100%;
}

input.btn {
    width: auto;
}

div.card {
    padding: 16px;
}

div.buttons {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}