main#saved {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: min-content;
}

.command-card {
    max-width: 480px;
    padding: 16px;
    margin: 16px;
}

.card-button {
    float: right;
    margin: 8px;
}