main#home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-card {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
}

.home-card > span {
    margin: 8px;
}

span#mediaType {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code {
    background-color: black;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-card input {
    width: 25%;
    float: right;
}

.home-card .outfile-extension {
    display: flex;
    width: 25%;
    float: right;
}

.home-card .outfile-extension input {
    width: 100%;
}

.home-card select {
    width: 25%;
    float: right;
}

.home-card button {
    width: fit-content;
    float: right;
}