nav {
    display: flex;
}

div.navbar-brand {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
}

menu {
    display: flex;
    margin: 0;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer span {
    color: darkgray;
}

 code {
    background-image: linear-gradient(45deg, #63e3f0, #73d76b);
    background-clip: text;
    color: transparent;
 }